<mat-toolbar color="primary" class="flex-p-x">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button *ngIf="settings.menu == 'vertical'" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <button fxShow="false" fxShow.gt-xs *ngIf="settings.menu == 'vertical'" mat-icon-button (click)="settings.sidenavUserBlock = !settings.sidenavUserBlock">
        <mat-icon>person</mat-icon>
      </button>
      <a *ngIf="settings.menu == 'horizontal'" mat-raised-button color="accent" routerLink="/" (click)="closeSubMenus()" class="small-logo">G</a>
      <a *ngIf="settings.menu == 'horizontal'" class="logo" routerLink="/" (click)="closeSubMenus()">Housenos</a>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Sign up</a>
    </div>

  </div>
</mat-toolbar>
