
.preview{
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
	margin: 10px 0;
	padding: 5px;
}
.previewData {
	img{
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
	cursor: pointer;
	} 
	@at-root .selectedFile{
		border: 2px solid #66CD00;	
	}
	
}

.previewDetails{
	display: inline-block;
    margin: 5px;
    padding: 8px;
}
.detail{
	font-family: arial;
    padding: 5px;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.previewControls{
	display: inline-block;
	margin: 0px 1px;
}
.circle{
	border: 2px solid #5B93F5;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 5px;
    cursor: pointer;
	color: #5B93F5;
	
		&:hover{
		border: 2px solid  #66CD00;
		}
	
}

.showDesc{
display:inline-block;
height:30px;
width:200px;
font-size: 14px;
border: 1px solid;	
}
