.form-brand-logo {
  font-weight: 500;
  font-size: 3.1rem;
  color: #283593;
}

.register-title {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.form-title {
  text-align: center;
}

.user-role {
  margin-top: 15px;
}
.icon-left {
  padding-bottom: 10px
}

.full-width {
  width: 90%;
}

.half-width {
  width: 44.5%;
}

.reg-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.reg-radio-button {
  margin: 5px;
}

.register-container {
    overflow-y: scroll;
}
